.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("./images/Boston_Night.jpg");
  background-position: 0px -120px;
}
.App-header {
}
.App-header h1 {
  color: white;
  font-size: 40pt;
  text-shadow: 5px 5px black;
}
.mapContainer {
  background-color: black;
}
body {
  flex: 1;
  margin-bottom: none;
  padding: none;
  height: 100vh;
}
footer {
  flex: 1;
  margin-top: 100px;
  color: white;
  background-color: black;
  width: 100%;
}
